.header {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  border: solid black;
}

.logo {
  width: 100px;
  padding: 10px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  list-style: none;
  font-weight: 500;
}
.res-card {
  border: 1px solid black;
  height: 300px;
  width: 200px;
}
.search {
  padding: 10px;
}
